@model List<PortfolioApp.Models.PortfolioProject>

@{
    ViewData["Title"] = "Projekty";
}

<h1>Moje projekty</h1>

@if (Model != null && Model.Count > 0)
{
    <ul>
        @foreach (var project in Model)
        {
            <li>
                <h3>
                    <a asp-action="Details" asp-route-id="@project.Id">@project.Title</a>
                </h3>
               
                <p><strong>@project.Category</strong> | Dodano: @project.CreatedAt.ToShortDateString()</p>
                <p>@project.ShortDescription</p>

                @if (!string.IsNullOrEmpty(project.VideoEmbedCode))
                {
                    @Html.Raw(project.VideoEmbedCode)
                }
                else if (!string.IsNullOrEmpty(project.ImageUrl))
                {
                   
                   

            
                   
                    <a asp-controller="Portfolio" asp-action="DetailsBySlug" asp-route-slug="@project.Slug">
                        <img src="@project.ImageUrl" alt="Obraz projektu" style="max-width: 300px;" />
                    </a>



 
                }

                <p><strong>Tagi:</strong> @project.Tags</p>
                <p>
                    <a href="@project.ProjectLink" target="_blank">Zobacz projekt</a>
                </p>
                <hr />
            </li>
        }
    </ul>
}
else
{
    <p>Brak projektów do wyświetlenia.</p>
}
